.bg {  
    position: absolute;
    top: 900px;
    left: -25%; 
    width: 50%; 
    height: 250px; 
    background-position: 0 0; 
    background-repeat:no-repeat; 
    background-size: cover;
   }
   .third-container{
       /* justify-content: center; */
       /* display: flex; */
       text-align: center;
       /* align-items: center; */
   }
   .third-sub{
    justify-content: start;
    text-align: start;
   }
   .third-container-image{
       justify-content: center;
       display: flex;
       text-align: center; 
   }
   .cards-row{  
       justify-content: center;
   }
   .card-header{ 
       background-color: white;
       border-bottom: none;
       justify-content: center;
      text-align: center;
      align-items: center;
   }
   .cards-pding{
       padding-left: 20px;
       padding-bottom: 20px;
   }

   .cards-image-pding{
    padding-left: 40px;
    padding-bottom: 20px;
}

 .last-first-image{
    background-repeat:no-repeat;
background-attachment:fixed;
background-position:left;
    /* background-position: 0 0; 
    background-repeat:no-repeat; 
    background-size: cover; */
 }

 .footer-bg{
     background-color: rgb(71, 69, 69);
     color: white;
 }

 .footer-two-pding{
     padding-top: 65px;
 }
 .icon-color{
     background-color: white;
     color: white;
 }
 .bottom-border{
    border-bottom: 2px solid white;
    width:40px;
 }