/* .carousel-indicators {
    position: absolute;
    right: 950px;
    bottom: 50px;
    left: 0;
    z-index: 37;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
} */
/* 
.carousel-control-next {
    right: 50px; 
    top: 455px;
}
.carousel-control-prev {
    left: 1155px;
    top: 455;
} */

.scroll{
    width: 100%;
    overflow-x: hidden;
 padding-left: 30px;
    padding-top: 100px;
}