.bg {
  position: absolute;
  top: 890px;
  left: -27%;
  width: 50%;
  height: 250px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-center {
  justify-content: center;
  display: flex;
}
.nav-menu{
  font-weight: 500;
  font-size: 15px;
}
.carousel-caption {
  position: absolute;
  right: 50%;
  bottom: 261px;
  left: 19%;
  z-index: 11;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: start;
}
.carousel-h1 {
  font-size: 72px;
}

.carousel-indicators {
  position: absolute;
  right: 57%;
  bottom: 46px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-control-next {
  position: absolute;
  top: 474px;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1%;
  right: 185px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.carousel-control-prev {
  position: absolute;
  top: 474px;
  left: 64%;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36%;
  right: 345px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

.card-images {
  width: 80%;
}
.third-container {
  text-align: center !important;
  padding-left: 6%;
  width: 80%;
  height: 60%;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  padding-left: 526px;
}
.footer-center {
  text-align: center;
  justify-content: center;
}
.third-sub {
  justify-content: start;
  text-align: start;
}
.third-container-image {
  justify-content: center;
  display: flex;
  text-align: center;
}
.cards-row {
  justify-content: center;
}
.card-header {
  background-color: rgb(233, 233, 248);
  border-bottom: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}
.card-header-two {
  background-color: white;
  border-bottom: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}
.cards-pding {
  padding-left: 20px;
  padding-bottom: 20px;
}

.cards-image-pding {
  padding-left: 40px;
  padding-bottom: 20px;
}

.last-first-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

.footer-bg {
  background-color: rgb(71, 69, 69);
  color: white;
}

.footer-two-pding {
  padding-top: 95px;
}
.icon-color {
  background-color: white;
  color: white;
}
.bottom-border {
  border-bottom: 2px solid white;
  width: 40px;
}

.footer-pding {
  padding-top: 50px;
}

.header-shadow {
  position: absolute;
  justify-content: start;
  float: left;
  text-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: -115px;
  left: 0%;
  opacity: 0.2;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-second-image {
  position: absolute;

  justify-content: end;
  float: right;
  text-align: end;
  align-items: flex-end;
  width: 95%;
  margin-top: 70px;
  left: 5%;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .bottom-second-image {
    position: absolute;

    justify-content: end;
    float: right;
    text-align: end;
    align-items: flex-end;
    width: 95%;
    margin-top: 300px;
    left: 5%;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.empty-container {
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: rgb(233, 233, 248);
}
